<div class="background">
	<div class="text-center row form-group">
		<div class="col-md-12">
			<h1>Carbon Commute</h1>
			<h3>Track Your Trips. See Your Carbon Footprint</h3>
		</div>
	</div>
</div>
<div class="row form-group top-row">
	<div class="col-md-5 col-md-offset-1">
	<h3>Trip Stats</h3>		
	<div class="info_text"><p>Details for your submitted trip by <%=modecurrent%>:</p></div>
	</div>
	<div class="col-md-5">
		<h3>Carbon Comparison</h3>
		<div class="info_text"><p>Compare carbon emissions for <%=modecurrent%> with other options</p></div>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-5 col-md-offset-1 trip_data">
		<%var distance = (map.rows[0].elements[0].distance.value / 1000 * 0.621371).toFixed(2)%>
		<div class="datarow"><span class="key">CO<sub>2</sub> Emissions: </span>
		<%if(modecurrent === "bicycling") { %>
			<%var carbon = distance * 0 %>
			<span class="value"><%=carbon%> kg</span></div>
		<% } else if(modecurrent === "walking") { %>
			<%var carbon = distance * 0%>
			<span class="value"><%=carbon%> kg</span></div>
		<% } else if(modecurrent === "truck") { %>
			<%var carbon = (distance * 0.485).toFixed(2) %>
			<span class="value"><%=carbon%> kg</span></div>
		<% } else if(modecurrent === "driving") { %>
			<%var carbon = (distance * 0.355).toFixed(2) %>
			<span class="value"><%=carbon%> kg</span></div>
		<% } else if(modecurrent === "bus") { %>
			<%var carbon = (distance * 0.055).toFixed(2) %>
			<span class="value"><%=carbon%> kg</span></div>
		<% } else if(modecurrent === "transitrail") { %>
			<%var carbon = (distance * 0.120).toFixed(2) %>
			<span class="value"><%=carbon%> kg</span></div>
		<% } else if(modecurrent === "motorcycle") { %>
			<%var carbon = (distance * 0.191).toFixed(2) %>
			<span class="value"><%=carbon%> kg</span></div>
		<% } %>
		<div class="datarow"><span class="key">Estimated Travel Time: </span><span class="value"><%=map.rows[0].elements[0].duration.text%></span><br></div>
		<div class="datarow"><span class="key">Distance: </span><span class="value"><%=(map.rows[0].elements[0].distance.value /1000 * 0.621371).toFixed(2)%> miles</span></div>
		<div class="datarow"><span class="key">Origin: </span><span class="value"><%=map.origin_addresses%></span></div>
		<div class="datarow"><span class="key">Destination: </span><span class="value"><%=map.destination_addresses%></span></div>
		
		<form method="POST" action="/trips">
			<% if(currentUser) { %>
				<input hidden type="text" name="userId" value="<%= currentUser.id %>">
     			<input hidden type="text" name="mode" value="<%= modecurrent %>">
     			<input hidden type="text" name="date" value="<%= date %>">
     			<input hidden type="text" name="distance" value="<%= distance %>">
     			<input hidden type="text" name="carbon" value="<%= carbon%>">
      			<div class="button_div"><input class="btn save_button" type="submit" value="Add to Trips"></div>
      		<% } else { %>
      			<div class="button_div"><input class="btn save_button" type="submit" value="Login to Add to Trips"></input></div>
			<% } %>
		</form>
	</div>

	<div class="col-md-5">
		<canvas id="compare_chart" width="400" height="400"></canvas>
	</div>
</div>

</div>

<div id="search_result">

</div>

<script type="text/javascript"> 
	var compData = <%-JSON.stringify(map)%> 
	var mode = <%-JSON.stringify(modecurrent)%> 
</script>
<script type="text/javascript" src="js/compare_chart.js"></script>





				



			
