<div>
	<div class="text-center row form-group">
		<div class="col-md-12">
			<h1>Carbon results</h1>
			<div><h3><%=map.status%></h3></div>
			<div><h3>Origin: <%=map.origin_addresses%></h3></div>
			<div><h3>Destination: <%=map.destination_addresses%></h3></div>
			<div><h3>Mode of Travel: <%=modecurrent%></h3></div>
			<div><h3>Mode of Travel: <%=modecurrent%></h3></div>
			<div><h3>Distance: <%=map.rows[0].elements[0].distance.value%></h3></div>

		</div>
	</div>
</div>