<div class="background">
	<div class="text-center row form-group">
		<div class="col-md-12">
			<h1><%= currentUser.firstname %>'s Saved Trips</h1>
		</div>
	</div>
</div>

<% if(user.modes.length <= 0) {%>
	<h2> You haven't added any trips yet</h2>
<%}%>

<div class="row form-group top-row">
	<div class="col-lg-5 col-lg-offset-1">
			<div class="trips_header"><h3>Your Trips by Distance (miles)</h3></div>		
		<canvas id="dough_chart"></canvas></div>
	<div class="col-lg-5">
	<div class="trips_header"><h3>Saved Trip Data</h3></div>		
	<div class="table_class">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Mode</th>
				<th scope="col">Distance (miles)</th>
				<th scope="col">Carbon (kg of CO<sub>2</sub>)</th>
				<th scope="col">Remove Trip</th> 
			</tr>
		</thead>
		<tbody>
			<%user.modes.map(function(trip) {%>
			<tr>
				<td><%=trip.date%></td>
				<td><%=trip.mode%></td>
				<td><%=trip.distance%></td>
				<td><%=trip.carbon%></td>
				<td><a href="/trips/<%= trip.id %>"<%= %>" id="delete_button" class="delete-link">X</a></td>
			</tr>
			<%})%>
		</tbody>
	</table>
	</div>
	<hr>
	</div>
</div>
<div class="row form-group">
	<div class="col-lg-8 col-lg-offset-2">
	<div class="trips_header"><h3>Compare Your Carbon Footprint with Other Transport Modes</h3></div>		
	<div class="area_text"><p>Visualize your total carbon emissions for saved trips with emissions for other modes. Emissions for other transport modes based on EPA emissions data and total logged miles.</p></div>  
	<canvas id="area_chart"></canvas></div>
</div>

<script type="text/javascript"> var chartData = <%-JSON.stringify(user)%></script>
<script type="text/javascript" src="js/dough_chart.js"></script>
<script type="text/javascript" src="js/area_chart.js"></script>



			